body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fff;
}

.form-group {
    display: block;
}

.form-label {
    margin-top: 10px;
}

.radio-group {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    margin-right: 15px;

}

.radio-group:hover {
    background-color: #47cba1;
}

.radio-group label {
    cursor: pointer;
}

input[type=number]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input[type=text]{
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.field-textarea,
 input[type="text"]:focus,
 input[type="number"]:focus
{
    border: 2px solid #47cba1;
}

.field-textarea{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#preview {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(126px,126px));
    grid-auto-rows: 126px;
}

.image-card {
    height: 100px;
    width: 100px;
    margin-top: 10px 0;
    box-sizing: border-box;
}

.image-card img {
    image-resolution: 90%;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


  #logInBtn{
    border: none;
    outline: none;
    height: 40px;
    width: 120px;
    font-size: 16px;
    background: #47cba1;
    cursor: pointer;
    border-color: green;
    margin-top: 20px;
    font-weight: bold;
  }