.form-group {
    display: block;
}

.form-label {
    margin-top: 10px;
}

.label {
    width: 45%;
    box-sizing: border-box;
    display: inline-block;
}

.radio-group {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    margin-right: 15px;

}

.radio-group:hover {
    background-color: rgb(243,74,11);
}

.radio-group label {
    cursor: pointer;
}

input[type=number]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input[type=text]{
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.field-textarea:focus,
 input[type="text"]:focus,
 input[type="number"]:focus
{
    border: 2px solid rgb(243,74,11);
}

.field-textarea{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#preview {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(126px,126px));
    grid-auto-rows: 126px;
}

.image-card {
    height: 100px;
    width: 100px;
    margin-top: 10px 0;
    box-sizing: border-box;
}

.image-card img {
    image-resolution: 90%;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  

  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


  #logInBtn{
    width: 120px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-right: 20px;
   
  }

  /*** Style For Password Rest Form **/

  #reset-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: left;
  }

  #reset-form label {
      margin-top: 8px;
      display:block;
      font-weight: bold;
  }

  #reset-form input[type="password"] {
      width: 60%;
      padding: 10px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid black;
      display: inline-block;
  }

  #reset-form input[type="password"]:focus
  {
      border: 2px solid rgb(243,74,11);
  }


#reset-form button {
    width: 60%;
    background: rgb(243,74,11);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #reset-form button:hover {
      background-color: rgb(204, 62, 10);
  }
  