.tab {
    margin-top: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
}

.tablinks {
    width:20%;
}

.tab button {
    border: none;
    background-color: inherit;
    outline: none;
    cursor: pointer;
    float: left;
    transition: 0.3s;
    padding: 14px 16px;
    font-weight: bold;
    font-size: 14px;
}

.tab button:hover {
    background-color: #ddd;
}


.tab button.active {
    border-bottom: 3px solid rgb(243, 74, 11);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    height: 100;
}

.tabcontent h3{
    text-align: left;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

.table th {
    padding: 12px 0;
    text-align: left;
    background-color: rgb(243, 74, 11);
    color: white;
}


tr:hover {
    background-color: rgb(255, 181, 154);
    cursor: pointer;
}

.table button:hover {
    background: rgb(243, 74, 11);
    cursor: pointer;
}




