.filter-input {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.filter-input label {
    margin-bottom: 10px;
}

.filter-input select {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;

}

.filter-input input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #47cba1;
    border-radius: 0px;
    cursor: pointer;
    border-color: green;
    font-weight: bold;
    color: black;
}